body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100%;
    background-color: #14073A

}
*{
margin:0;
padding:0;
    box-sizing:border-box;
    
}


#itemscontainer
{
   height:500px;
    width:600px;
    border:2px solid white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    
    
}
h1{
    color:white;
    text-transform:capitalize;
    text-align:center;
    margin-top:25px;
   
}
#first{
   width:100%; 
    height:50%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    
}

#first>input
{
    width:80%;
    height:35px;
      margin-left:5px;
    border-radius:5px;
    border:none;
   color:#b73939;
    font-size:20px;
    font-weight:bold;
    
}

#first>button {
    height: 40px;
    margin: 5px;
    width: 130px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7a49f3; /* Starting background color */
    color: white;
    text-transform: capitalize;
    margin-left: 10px;
    box-shadow: 0px 0px 2px 2px silver;
    transition: background-color 3s ease; /* Apply transition to background-color */
}

#first>button:hover {
    background-color: #b07b7b; /* New background color on hover */
}

#second
{
    height:50%;
    width:70%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;

    
    
}
span{
    
    color:white;
    
    
}

span >h1{
    font-size:22px;
     margin-right:30px;
      padding:0;
    margin-top:1px;
   text-align:left;
    
    
    
}
#second span:nth-child(2)>input
{
    width:70px;
    height:27px;
    margin:5px;
    margin-left:75px;
    
}
#second span >input{
    height:20px;
    width:30px;
    
    
}
#second span:nth-child(4)>input,#second span:nth-child(6)>input,input,#second span:nth-child(8)>input
{
    margin-left:30px;
}
#second span:nth-child(8)>input,#second span:nth-child(12)>input
{
    margin-left:130px;
}

@media(max-width:412px)
{
    #second
{
    height:50%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;

    
    
}
span >h1{
    font-size:22px;
     margin-right:0px;
      padding:0;
    margin-top:1px;
   text-align:left;
    
    
    
}
#second span:nth-child(2)>input
{
    width:70px;
    height:27px;
    margin:5px;
    margin-left:7px;
    
}
#second span >input{
    height:20px;
    width:30px;
    
    
}
#second span:nth-child(4)>input,#second span:nth-child(6)>input,input,#second span:nth-child(8)>input
{
    margin-left:2px;
}
#second span:nth-child(8)>input
{
    margin-left:90px;
}
 #second span:last-child>input
    {
        margin-left:0px;
    }
    body{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:100vh;
    width:100%;
    background-color: #14073A

}
    #itemscontainer
{
   height:500px;
    width:98%;
    border:2px solid white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    
    
}
    
}
